body {
    margin-top: 0;
    background-image: url("assets/images/ep_naturalwhite.png");
     
}

#page-wrap {
    width: 960px;
    margin: 0 auto;
   }

header {
    background-color: #ffffff;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    margin:0;
    width: 100%;
    height: 79px;
          
}
   
h1 {
    border: 1px solid #cccccc;
    background-color: #4aaaa5;
    color: white;
    float: left;
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 0;
        
}

nav {
    float: right;
    padding-right: 0px;
    margin:20px;
    padding-top: 10px
              
}

li {
    display: inline;
  }

    
a {
    clear: both;
    color: gray;
}

section {
    clear: both;
    overflow: auto;
    background: #ffffff;
    border: 1px solid #dddddd;
    margin-top:120px;
    width: 960px;
    
}

h2{
    margin: 10px;
    color: #4aaa;
    margin-left: 20px
}

img {
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
        
}

article {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 3px solid gray;
}

p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    
}


footer{
    clear: both;
    overflow: hidden;
    background: #666666;
    border-top: 4px solid #4aaaa5;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

h3{

}